*{
    font-family: ;
    margin: ;
    padding: ;
}
a{
    text-decoration: ;
    color: ;
    display: ;
}
.body{
    font-family: ;
    background-color: ;
    margin: ;
    padding: ;
}
nav{
    overflow: ;
    background-color: ;
    font-size: ;
    display: ;
    border: ;
    float: ;
    padding: ;
}
.container_menu{
    margin: ;
    background-color: ;
    font-family: ;
    width: ;
    height: ;
}